 
<head>
    <meta charset="utf-8">
    <title>Documento sin título</title>

    <link rel="stylesheet" href="~/Content/css/tableindex.css">
    <link rel="stylesheet" href="~/Content/css/MostrarTabla.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/css/tablareal.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->



</head>

<body>
    <style>
        html {
            zoom: 90%;
        }
    </style>

    <div class="logo-name">
        Generar Comprobante De Pago
        <Compra></Compra>
    </div>

    <br />

    <div id="wrapper">
        <br />
        <table>
            <tr>
                <td>
                    <!--PANEL -->

                    <div class="panel panel-default">
                        <div class="panel-heading">Datos Del Servicio</div>
                        <div class="panel-body">
                            <table width="540" height="148">
                                <tr>
                                    <td width="94"><label>Cliente :   </label> </td>
                                    <td width="182">  <input type="text"></td>
                                    <td width="100"><label>Fecha Entrega:</label></td>
                                    <td width="144"><input type="text"></td>
                                </tr>
                                <tr>
                                    <td height="43"><label>Placa(Auto) :</label></td>
                                    <td><input type="text" style=""></td>
                                    <td height="43"><label>Marca(Auto) :</label></td>
                                    <td><input type="text" style=""></td>
                                </tr>
                                <tr>
                                    <td width="94"><label>Direccion :</label></td>
                                    <td><input type="text"> </td>
                                    <td width="100"> </td>
                                    <td> <input type="submit" value="Buscar Orden Atencion" class="btn-danger"></label></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </td>
                <td>
                    <!--PANEL -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Datos Del Servicio</div>
                        <div class="panel-body">
                            <table width="573" height="150">
                                <tr>
                                    <td width="139"><label>Propietario :  </label> </td>


                                    <td width="422">
                                        <input type="checkbox"><label>Si</label>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"><label>No</label>
                                    </td>

                                </tr>
                                <tr>
                                    <td><label>Nombre :</label></td>
                                    <td><input type="text" style="width: 200px"></td>

                                </tr>
                                <tr>
                                    <td width="139" height="39"><label>Telefono :</label>
                                    <td width="422">	<input type="number" style="width: 100px"></td>
                                </tr>
                                <tr></tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="container" style="width: 1205px ;margin: -12px">
            <!--PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">Observaciones</div>
                <div class="panel-body">
                    <br><br>
                    <table width="231" height="33" align="center">
                        <tr>
                            <td width="155">Objetivo de Valor :<input type="checkbox" name="vehicle1" value="Bike"> Si<br></td>
                            <td width="64"><input type="checkbox" name="vehicle1" value="Bike">No<br></td>
                        </tr>
                    </table>
                    <textarea class="form-control" placeholer="Message" style="width: 100% ;height: 200px;margin-left: auto;
    margin-right: auto;">
                                      </textarea>
                </div>
            </div>
        </div>
    </div>










    <!--Combo box  ESCOGER FORMAS DE PAGO-->
    <div style=" margin: 30px 1112px">
        <div class="span4" id="selDiv">
            <select class="custom-select" id="opcion" name="opcion" onchange="seleccionado()">
                <option selected>Selecionar Tipo de Comprobante</option>
                <option value="cat">Boleta</option>
                <option value="subcat">Factura</option>
            </select>
        </div>

    </div>
    <!--TABLA BOLETA-->
    <div id="categoria" style="display:none; ">
        <div style="margin:  60px  200px">

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Codigo Material</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th> SubTotal</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009/01/12</td>
                        <td>$86,000</td>
                    </tr>
                    <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2012/03/29</td>
                        <td>$433,060</td>
                    </tr>
                    <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                    </tr>
                    <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>2012/12/02</td>
                        <td>$372,000</td>
                    </tr>
                    <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>2012/08/06</td>
                        <td>$137,500</td>
                    </tr>
                    <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>2010/10/14</td>
                        <td>$327,900</td>
                    </tr>
                    <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                        <td>2009/09/15</td>
                        <td>$205,500</td>
                    </tr>
                    <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr>
                    <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>2008/12/19</td>
                        <td>$90,560</td>
                    </tr>
                    <tr>
                        <td>Quinn Flynn</td>
                        <td>Support Lead</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2013/03/03</td>
                        <td>$342,000</td>
                    </tr>
                    <tr>
                        <td>Charde Marshall</td>
                        <td>Regional Director</td>
                        <td>San Francisco</td>
                        <td>36</td>
                        <td>2008/10/16</td>
                        <td>$470,600</td>
                    </tr>
                    <tr>
                        <td>Haley Kennedy</td>
                        <td>Senior Marketing Designer</td>
                        <td>London</td>
                        <td>43</td>
                        <td>2012/12/18</td>
                        <td>$313,500</td>
                    </tr>
                    <tr>
                        <td>Tatyana Fitzpatrick</td>
                        <td>Regional Director</td>
                        <td>London</td>
                        <td>19</td>
                        <td>2010/03/17</td>
                        <td>$385,750</td>
                    </tr>
                    <tr>
                        <td>Michael Silva</td>
                        <td>Marketing Designer</td>
                        <td>London</td>
                        <td>66</td>
                        <td>2012/11/27</td>
                        <td>$198,500</td>
                    </tr>

                </tbody>

            </table>
            <br><br>
            <div style=" margin:0 120px">
                <table>
                    <tr>
                        <td><label>Precio Total :</label></td>
                        <td><input type="text" required></td>
                    </tr>
                </table>
            </div>

            <div style=" margin:0 579px">
                <table>
                    <tr>
                        <td><input type="submit" value="Generar Orden Compra" class="btn btn-danger"></td>

                </table>

            </div>




        </div>
    </div>


    <!--TABLA FACTURA-->
    <div id="subcategoria" style="display:none;">
        <div style="margin:  60px  200px">
            <table id="example1" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Codigo Material</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th> SubTotal</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009/01/12</td>
                        <td>$86,000</td>
                    </tr>
                    <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2012/03/29</td>
                        <td>$433,060</td>
                    </tr>
                    <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                    </tr>
                    <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>2012/12/02</td>
                        <td>$372,000</td>
                    </tr>
                    <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>2012/08/06</td>
                        <td>$137,500</td>
                    </tr>
                    <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>2010/10/14</td>
                        <td>$327,900</td>
                    </tr>
                    <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                        <td>2009/09/15</td>
                        <td>$205,500</td>
                    </tr>
                    <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr>
                    <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>2008/12/19</td>
                        <td>$90,560</td>
                    </tr>
                    <tr>
                        <td>Quinn Flynn</td>
                        <td>Support Lead</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2013/03/03</td>
                        <td>$342,000</td>
                    </tr>
                    <tr>
                        <td>Charde Marshall</td>
                        <td>Regional Director</td>
                        <td>San Francisco</td>
                        <td>36</td>
                        <td>2008/10/16</td>
                        <td>$470,600</td>
                    </tr>
                    <tr>
                        <td>Haley Kennedy</td>
                        <td>Senior Marketing Designer</td>
                        <td>London</td>
                        <td>43</td>
                        <td>2012/12/18</td>
                        <td>$313,500</td>
                    </tr>
                    <tr>
                        <td>Tatyana Fitzpatrick</td>
                        <td>Regional Director</td>
                        <td>London</td>
                        <td>19</td>
                        <td>2010/03/17</td>
                        <td>$385,750</td>
                    </tr>
                    <tr>
                        <td>Michael Silva</td>
                        <td>Marketing Designer</td>
                        <td>London</td>
                        <td>66</td>
                        <td>2012/11/27</td>
                        <td>$198,500</td>
                    </tr>

                </tbody>

            </table>
            <br><br><br><br>

            <div style=" margin:0 790px">
                <table width="300px" height="130px">
                    <tr>
                        <td><label>Sub Total :</label></td>
                        <td><input type="text" required></td>
                    </tr>
                    <tr>
                        <td><label>IGV :</label></td>
                        <td><input type="text" required></td>
                    </tr>
                    </tr>
                    <tr>
                        <td><label>Importe Total :</label></td>
                        <td><input type="text" required></td>
                    </tr>
                    </tr>
                </table>
            </div>
            <br><br><br><br>
            <div style=" margin:0 479px">
                <table>
                    <tr>
                        <td><input type="submit" value="Generar Orden Compra" class="btn btn-danger"></td>

                </table>

            </div>




        </div>



    </div>




    <table>
        <td><div style="margin: 20px 150px"><input type="submit" value="Salir" class="btn btn-danger"></td></div></tr>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Content/js/MostrarTabla.js"></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

</body>
</html>
