<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/mainLayout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Content/css/button.css">

</head>
<body style="background:#EFEFBA">
    <style>
        .logo-name {
            font-family: 'Satisfy', sans-serif;
            font-size: 30px;
            text-align: center;
            color: #7B382B;
            font-family: 'Raleway', sans-serif;
            z-index:1;
        }

        body {
            font-family: 'Raleway', sans-serif;
        }

        html {
            zoom: 90%;
            height: 1200px;
        }
    </style>

    <div id="wrapper">

        <!-- Header -->
        <header id="header" style=" background:black; color:white">
            <h1 style="color:white"><img src="~/Content/img/logooficial.fw.png" alt="Alternate Text" style="width:80px ;"></a></h1>
            <nav class="links">
                <ul>
                    <li><a href="~/OrdenAtencion/OrdenAtencion">Orden Atencion</a></li>
                    <li><a href="~/ComprobantePago/ComprobantePago">Comprante de Pago</a></li>
                    <li><a href="~/RegistrarServicio/RegistrarServicio">Registrar Servicio</a></li>
                    <li><a href="~/GenerarOrdenCompra/GenerarOrdenCompra">Orden de Compra</a></li>
                    <li><a href="~/ActualizaEstadoAtencion/ActualizaEstadoAtencion"> ActualizaEstadoAtencion</a></li>
                    <li><a href="~/VentaDiarias/VentaDiarias"> VentaDiarias</a></li>
                    <li><a href="~/GenerarCotizacion/GenerarCotizacion"> GenerarCotizacion</a></li>


                </ul>
            </nav>
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Menu -->
        <section id="menu">

            <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </section>

            <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        <a href="~/OrdenAtencion/OrdenAtencion">
                            <p>
                                Orden Atencion
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="~/ComprobantePago/ComprobantePago">
                            <p>
                                Comprante de Pago
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="~/RegistrarServicio/RegistrarServicio">
                            <p>
                                Registrar Servicio
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="~/GenerarOrdenCompra/GenerarOrdenCompra">
                            <p>
                                Orden de Compra
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="~/VentaDiarias/VentaDiarias">
                            <p>
                                VentaDiarias
                            </p>
                        </a>

                    </li>
                    <li>
                        <a href="~/GenerarCotizacion/GenerarCotizacion">
                            <p>
                                GenerarCotizacion
                            </p>
                        </a>

                    </li>
                    <li>
                        <a href="~/ActualizaEstadoAtencion/ActualizaEstadoAtencion">
                            <p>
                                ActualizaEstadoAtencion
                            </p>
                        </a>

                    </li>
                </ul>
            </section>

            <!-- Actions -->
            <section>
                <ul class="actions stacked">
                    <a href="~/Login/Login">
                        <button class="button">
                            <span class="button__inner">Cerrar Sesion</span>

                        </button>
                    </a>

                </ul>
            </section>

        </section>

        <!-- Main -->
        <!-- Sidebar -->

    </div>





    @RenderBody()

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/browser.min.js"></script>
    <script src="~/Content/js/breakpoints.min.js"></script>
    <script src="~/Content/js/util.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/button.js"></script>


</body>
</html>





 
 
    

