 
<head>
    <meta charset="utf-8">
    <title>Documento sin título</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/css/tablareal.css" rel="stylesheet" />
</head>
<body>
    <style>
        html {
            zoom: 90%;
        }
    </style>

    <div class="logo-name">
        Registrar Servicio
    </div>
    <p align="center">&nbsp;</p>


    <div id="wrapper">
        <br />    <br />


        <div class="panel panel-default">
            <div class="panel-heading">Datos Del Servicio</div>
            <div class="panel-body">

                <table width="919" height="62">
                    <tr>
                        <td width="82" height="66"><label>Nombre :  </label> </td>
                        <td width="227">  <input type="text" style="width: 200px"></td>
                        <td width="84"><label>Precio :</label></td>
                        <td width="245">	<input type="text"></td>
                        <td width="96"><label>Duracion : </label></td>
                        <td width="323">	<input type="text"></td>

                    </tr>


                </table>
                <table width="919" height="62">
                    <tr>
                        <td width="109" height="58"><label>Descripcion :</label> </td>
                        <td width="798">  <input type="text" style="width: 800px"></td>
                    </tr>
                </table>

            </div>
        </div>




        <div class="panel panel-default">
            <div class="panel-heading">Datos Del Material</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td width="263" height="143">
                            <table width="1027" height="143">
                                <tr>
                                    <td width="98" height="69"><label for="label">Descripcion : </label></td>
                                    <td width="341"><input type="text" style="width: 300px"></td>
                                    <td width="132"><label>Precio Unitario ¨:</label></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td><label>Cantidad :</label></td>
                                    <td><input type="number" style="width: 50px;"></td>
                                    <td>&nbsp;</td>
                                    <td width="436"><input type="submit" value="Buscar Material"></td>
                                </tr>
                                <tr>
                                    <td height="2"></td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <!-- Button trigger modal -->
        <div style="margin: 0 1090px">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin:auto">
                Agregar Material
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">¿Estas Seguro de Registrar al Servicio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Si</button>
                            <button type="button" class="btn btn-primary">No</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

         

            <table id="keywords" class="table">
                <thead>
                    <tr>
                        <th><span>Codigo</span></th>
                        <th><span>Fecha de Emision</span></th>
                        <th><span>Estado</span></th>
                        <th><span>Detalle</span></th>
                        <th><span>Actualizar</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="lalign">silly tshirts</td>
                        <td>6,000</td>
                        <td>110</td>
                        <td>1.8%</td>
                        <td>22.2</td>
                    </tr>
                    <tr>
                        <td class="lalign">desktop workspace photos</td>
                        <td>2,200</td>
                        <td>500</td>
                        <td>22%</td>
                        <td>8.9</td>
                    </tr>
                    <tr>
                        <td class="lalign">arrested development quotes</td>
                        <td>13,500</td>
                        <td>900</td>
                        <td>6.7%</td>
                        <td>12.0</td>
                    </tr>
                    <tr>
                        <td class="lalign">popular web series</td>
                        <td>8,700</td>
                        <td>350</td>
                        <td>4%</td>
                        <td>7.0</td>
                    </tr>
                    <tr>
                        <td class="lalign">2013 webapps</td>
                        <td>9,900</td>
                        <td>460</td>
                        <td>4.6%</td>
                        <td>11.5</td>
                    </tr>
                    <tr>
                        <td class="lalign">ring bananaphone</td>
                        <td>10,500</td>
                        <td>748</td>
                        <td>7.1%</td>
                        <td>17.3</td>
                    </tr>
                </tbody>
            </table>

        
        <br />    <br />
    </div>


    <input type="submit" class="btn btn-lg" value="Registrar Servicio" style="margin:30px 650px">


    <div style="margin:-30px 60px">
        <input type="submit" value="Salir">
    </div>


</body>
 
