
<head>
    <meta charset="utf-8">
    <title>Documento sin título</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/css/tablareal.css" rel="stylesheet" />
</head>

<body>
    
    <div class="logo-name">
        Generar Cotizacion
    </div>
    <br />

     
        <div id="wrapper">
            <table width="1200">
                <tr>
                    <td width="674">
                        <table width="666" height="406">
                            <tr>
                                <td width="650">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Datos del Empleado</div>
                                        <div class="panel-body">
                                            <table width="628" height="81">
                                                <tr>
                                                    <td width="51" height="51">Codigo :</td>
                                                    <td width="118"><input type="text"></td>
                                                    <td width="33"> Fecha :</td>
                                                    <td width="162"><input type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td width="51">Nombre :</td>
                                                    <td width="118"><input type="text"></td>
                                                    <td width="33"> Apellidos :</td>
                                                    <td width="162"><input type="text"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="panel panel-default">
                                        <div class="panel-heading"> Datos del Cliente</div>
                                        <div class="panel-body">
                                            <table width="628" height="81">
                                                <tr>
                                                    <td width="88" height="51">RUC/DNI :</td>
                                                    <td width="182"><input type="text"></td>
                                                    <td width="82"> Correo :</td>
                                                    <td width="256"><input type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td width="88">Nombre :</td>
                                                    <td width="182"><input type="text"></td>
                                                    <td width="82"> Telefono :</td>
                                                    <td width="256"><input type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="submit" class="btn btn-danger" value="Buscar cliente"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="507">
                        <table width="509" height="313">
                            <tr>
                                <td>
                                    <div class="panel panel-default">
                                        <div class="panel-heading"> Datos del Servicio</div>
                                        <div class="panel-body">
                                            <table width="484" height="295">
                                                <tr>
                                                    <td height="41"><input type="text"></td>
                                                    <td><input type="submit" value="Buscar Servicio" class="btn btn-danger"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h4>Servicio Extras :</h4>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>




            <table id="keywords" class="table">
                <thead>
                    <tr>
                        <th><span>Codigo</span></th>
                        <th><span>Fecha de Emision</span></th>
                        <th><span>Estado</span></th>
                        <th><span>Detalle</span></th>
                        <th><span>Actualizar</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="lalign">silly tshirts</td>
                        <td>6,000</td>
                        <td>110</td>
                        <td>1.8%</td>
                        <td>22.2</td>
                    </tr>
                    <tr>
                        <td class="lalign">desktop workspace photos</td>
                        <td>2,200</td>
                        <td>500</td>
                        <td>22%</td>
                        <td>8.9</td>
                    </tr>
                    <tr>
                        <td class="lalign">arrested development quotes</td>
                        <td>13,500</td>
                        <td>900</td>
                        <td>6.7%</td>
                        <td>12.0</td>
                    </tr>
                    <tr>
                        <td class="lalign">popular web series</td>
                        <td>8,700</td>
                        <td>350</td>
                        <td>4%</td>
                        <td>7.0</td>
                    </tr>
                    <tr>
                        <td class="lalign">2013 webapps</td>
                        <td>9,900</td>
                        <td>460</td>
                        <td>4.6%</td>
                        <td>11.5</td>
                    </tr>
                    <tr>
                        <td class="lalign">ring bananaphone</td>
                        <td>10,500</td>
                        <td>748</td>
                        <td>7.1%</td>
                        <td>17.3</td>
                    </tr>
                </tbody>
            </table>
            <br />  <br />
            <div class="container">
                <table align="center">
                    <tr>
                        <td width="55px">Total</td>
                        <td><input type="text" name="name" value="" id=""></td>
                    </tr>
                </table>
            </div>
            <br />  <br />
            <table align="center">
                <tr>
                    <td width="170px"><input type="submit" value="Gnerar Cotizacion" class="btn btn-default" /></td>
                    <td><input type="submit" name="name" value="Salir" class="btn btn-default" /></td>
                </tr>
            </table>
            <br />  <br />
        </div>
 

</body>
<script>
    $(function () {
        $('#keywords').tablesorter();
    });
</script>

